
.box {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 50px;
    transition: all 1s ease;
}


@keyframes mover {
    0% { transform: translateX(0); }
    100% { transform: translateX(300px); }
}


@keyframes cambiarColor {
    0% { background-color: rgb(117, 0, 163); }
    100% { background-color: rgb(7, 255, 110); }
}
